<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<title>CALCULADORA 3000</title>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<link rel="stylesheet" type="text/css" href="Estilo.css">

<body ng-app="myApp" ng-controller="Controlador">

<h1>CALCULADORA</h1>

<p>Operacion a realizar</p>

<input type="number" ng-model="n1">
<input type="number" ng-model="n2">

<button ng-click="suma()"> + </button>
<button ng-click="resta()"> - </button>
<button ng-click="multi()"> * </button>
<button ng-click="divi()"> / </button>


<p><input type="text" ng-model="resultado" disabled></p>



<script src = app.js></script>
<script src = Controlador.js></script>

</body>
</html>